.contact-us-main{
    /* border: 2px solid red; */
    height: 500px;
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.contact-us-left{
    /* border: 2px solid blue; */
    height: 100%;
    width: 50%;
    background:linear-gradient(45deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/bg.jpg") center center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 10px;
}
.my-intro h2{
    color: white;
    font-family: 'Tangerine', cursive;
    font-size: 55px;
}
.my-intro h3{
    font-family: 'El Messiri', sans-serif;
    font-size: 20px;
}

.contact-us-left div{
    margin:24px 0;
}
.contact-us-left h3{
    color:#fff;
    font-size:18px;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 10px;
}
.contact-us-left p{
    font-size: 16px;
    line-height: 1.6;
    color: rgb(28, 135, 201);
}
.contact-us-right{
    /* border: 2px solid green; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us-right form{
    background: none;
    width: 80%;
    /* margin: 20px; */
    /* border: 2px solid red; */
    margin-bottom: 0px;
    border: none;
    background :transparent;
}
.contact-us-form input, .contact-us-form textarea {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    /* border: 2px solid #1c87c9;  */
    outline: none; 
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(88, 84, 84);
    color:black;
    }
    .contact-us-form input::placeholder {
    color: black;

    }
    .contact-us-form select{
        padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    color:white;
    }
    .contact-us-submit {
        width: 50%;
        padding: 10px;
        border: none;
        background: #1c87c9; 
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        /* margin: 20px 25%; */
        }
        button.contact-us-submit:hover {
        background: #2371a0;
        transform: scale(1.1);
        }    


    @media screen and (max-width:1200px){
        .contact-us-main{
          width:70%;
          margin: auto;
        }
      }
      @media screen and (max-width:1000px){
        .contact-us-main{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: auto;
        }
        .contact-us-left{
            padding: 5px;
            margin-bottom: 20px;
            width: 90%;
        }
        .contact-us-right{
            width: 90%;
        }

      }
      .my-intro{
          padding: 10px 15px 10px 10px;
      }
      .my-intro p{
        font-size: 25px;
        /* text-align: center; */
        font-family: 'Handlee', cursive;
        font-family: 'El Messiri', sans-serif;
        font-size: 18px;
        color: rgba(255, 0, 0, 0.883);
    }
    
    .my-intro button{
        width: 100px;
        padding: 8px;
        cursor: pointer;
        font-family: 'El Messiri', sans-serif;
        font-size: 15px;
        margin-left: 35%;
        border-radius: 8px;
    }
    .my-intro button:hover{
        transform: scale(1.2);
        background-color: white;
    }
    .my-intro a{
        text-decoration: none;
        color: black;
    }
    .email p{
        /* cursor: pointer; */
    }