.home-greeting{
    border: 2px solid blue;
    width: 80%;
    margin: auto;
    margin-top: 0;
    font-size: 5vw;
    text-align: center;
}
.home-text{
    border: 2px solid red;
    position: absolute;
    top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    background-color: yellow;
}