*{
    margin: 0px;
    padding: 0px;
}
section{
    height: 1000px;
    margin-bottom: 2%;
    background: rgb(241, 237, 237);
}
#home{
    height: 800px;
    background-image: url(/Images/CoverImage.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
}